@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Josefin Sans';
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F2F2F2;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1440px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-section {
  flex: 1;
  padding: 65.6px 220px 162px 165px;
  background: #faf5f5;
}

.logo img {
  width: 160px;
  margin: 35px 0px 136px 0px;
}

h2 span {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 17.32px;
  line-height: 1em;
  color: #CE9898;
}

h2 {
  font-size: 64px;
  font-weight: 500;
  letter-spacing: 17.32px;
  color: #423A3A;
  margin-bottom: 32px;
}

p {
  font-size: 16px;
  line-height: 1.75em;
  color: #CE9898;
  max-width: 445px;
}

form {
  display: flex;
  align-items: center;
  margin: 40px 0 0 0;
  position: relative;
}

input[type="email"] {
  padding: 18px;
  border: 1px solid #CE9898;
  border-radius: 28px;
  width: 100%;
}

::placeholder {
  color: #CE9898;
}

:focus-visible {
  outline: 2px solid #F96464;
}

button {
  position: absolute;
  padding: 17px 41px;
  margin-left: 378px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(135deg, #F8BFBF 0%, #EE8B8B 100%);
  box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
  color: #FFFFFF;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background: #ffbcbc;
  box-shadow: 0px 10px 20px rgba(238, 138, 138, 0.867);
}

/* Hide mobile image and keep desktop image visible by default */
.mobile-image {
  display: none;
}

.right-section img {
  width: 100%;
  max-width: 610px;
  height: 100%;
  object-fit: cover;
}